body
  font-family 'Helvetica Neue', Helvetica, sans-serif;
  font-size 16px
  font-style normal
  font-variant normal
  font-weight 200
  line-height 1.4
  color white
  background-color black

h1, h2, h3, h4
  font-family 'Arial Black', Arial, sans-serif
  text-transform uppercase
  letter-spacing 2px
