// colors
$color-white = #ffffff
$color-grey60 = #666666

// brand colors
$color-background = #191a1b

// breakpoints
$screen-min = 320px
$screen-xs = 480px
$screen-sm = 768px
$screen-md = 1024px
$screen-lg = 1280px
$screen-xl = 1450px
