.app-components-caption-styles---caption---2Gp7f {
  border-top: 1px solid #fff;
  text-align: right;
}
.app-components-caption-styles---heading---1DLRf {
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 0.9em;
  text-transform: uppercase;
}
.app-components-caption-styles---copy---7Rv3Y {
  font-size: 0.9em;
  line-height: 1.5;
  color: #666;
}
.app-components-content-styles---content---Qr6Rf {
  text-align: center;
}
.app-components-content-styles---content---Qr6Rf p {
  color: #666;
}
.app-components-thumbnail-styles---thumbnail---T7fwS {
  text-align: center;
}
.app-components-thumbnail-styles---heading---1FWxw {
  color: inherit;
  margin-bottom: 4px;
  font-size: 0.9em;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.app-components-thumbnail-styles---subHeading---Lrc-8 {
  color: #666;
  font-size: 0.8em;
}
.app-components-grid-components-column-styles---column---2MAwf {
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
/* Keep semeantic markup but flip the visual order of columns */
.app-components-grid-components-column-styles---reverseFlow---2HJ4k {
  float: right;
}
/* ... and flip back any child columns */
.app-components-grid-components-column-styles---normalFlow---jr0hJ {
  float: left;
}
.app-components-grid-components-column-styles---flush---1QJp0 {
  padding-left: 0;
  padding-right: 0;
}
.app-components-grid-components-container-styles---container---1Jt9D {
  margin: 0 auto;
  padding: 0.75em;
  max-width: 1140px;
}
.app-components-grid-components-container-styles---flush---1WHpJ {
  padding-right: 0;
  padding-left: 0;
}
.app-components-grid-components-row-styles---row---1cKVk {
  *zoom: 1;
}
.app-components-grid-components-row-styles---row---1cKVk:before,
.app-components-grid-components-row-styles---row---1cKVk:after {
  content: " ";
  display: table;
}
.app-components-grid-components-row-styles---row---1cKVk:after {
  clear: both;
}
.app-components-grid-components-row-styles---row---1cKVk {
  margin-left: -0.75em;
  margin-right: -0.75em;
}
.app-components-grid-components-row-styles---flush---1pdQV {
  margin-left: 0;
  margin-right: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (min-width: 800px) {
  html {
    font-size: 20px;
  }
}
body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
  background-color: #191a1b;
}
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
p,
ul,
ol,
li {
  font-size: 1em;
}
.app-global-styles---footer---3Bohh {
  font-size: 0.8em;
  color: #666;
  text-align: center;
}
