*
  box-sizing border-box

html
  font-size 16px
  +above(400px)
    font-size 18px
  +above(800px)
    font-size 20px

body
  margin 0
  font-family 'Helvetica Neue', Helvetica, sans-serif;
  font-size 1em
  font-style normal
  font-variant normal
  font-weight 400
  line-height 1.4
  color $color-white
  background-color $color-background

h1, h2, h3, h4
  text-transform uppercase
  letter-spacing 2px

img
  display inline-block
  max-width 100%
  height auto

p, ul, ol, li
  font-size 1em

.footer
  font-size 0.8em
  color $color-grey60
  text-align center
