@import './variables.styl'

percentage($decimal)
  ($decimal * 100) %

breakpoint($point = $grid-float-breakpoint, $condition = min-width)
  @media screen and ($condition: $point) {block}

grid-pattern($grid-pattern, $auto-collapse = false, $breakpoint = $grid-float-breakpoint, $layout = $grid-column-count)
  // Calculate width based on number of columns available
  if $auto-collapse
    +breakpoint($breakpoint)
      width percentage($grid-pattern / $layout)
  else
    width percentage($grid-pattern / $layout)
