// Grid settings
$grid-column-padding = 0.75em
$grid-column-count = 12

// Smart breakpoint - when to go single column
$grid-float-breakpoint = 680px

// Max width of the gid
$grid-max-width = 1140px

$grid-clearfix
	*zoom 1
	&:before,
	&:after
		content " "
		display table
	&:after
		clear both
